.center {
	width: 100%;
	margin: 0 auto;
}



@media (min-width: $tablet-width) {
	.center {
		padding: 0 60px;
	}

	.center--no-pad {
		padding: 0
	}
}

@media (min-width: $desktop-width) {
	.center {
		max-width: 1200px;
		padding: 0;
	}
}