.footer {
	padding: 20px 80px;
	text-align: center;
}

.footer__visit {
	margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.footer__social-container {
	display: flex;
}

.footer__social-list {
	@include list-reset;
	display: flex;
	margin: 0 auto;
	margin-bottom: 30px;
}

.footer__social-item:not(:first-child) {
	margin-left: 6px; 
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	font-size: 0;
	background-color: $main-color;
}

.footer__academy-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 140px;
	margin: 0 auto;
	line-height: 26px;
	color: #000000;
}

@media (min-width: $tablet-width) {
	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 43px;
		padding-bottom: 25px;
	}

	.footer__social-list {
		margin-bottom: 0;
	}

	.footer__visit {
		margin-bottom: 0;
	}

}