// .header {
// 	display: flex;
// 	flex-direction: column;
// 	position: relative;
// }

.header__nav {
	position: relative;
	// width: 320px;
}

.header__list {
	@include list-reset;
}

.header__item:not(:last-child) {
	border-bottom: 1px solid #678fa8;
}

.header__item:not(:first-child) {
	border-top: 1px solid #9ac2db;
}

.header__link {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	font-family: 'PT Sans', 'Arial';
	font-size: 18px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	background-color: $main-color;
}

.header__nav-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 23px;
	height: 23px;
	background-color: transparent;
	border: none;
}

.header__nav-close::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	top: 0;
	left: 0;
	background-color: #ffffff;
	transform: rotate(45deg);
}

.header__nav-close::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 3px;
	top: 0;
	left: 0;
	background-color: #ffffff;
	transform: rotate(135deg);
}

.header__logo-container {
	position: relative;
	text-align: center;
	height: 56px;
	z-index: 3;
}

.header__menu {
	position: absolute;
	width: 23px;
	height: 20px;
	bottom: 20px;
	right: 20px;
	background-color: $main-color;
	border: none;
}

.header__menu::after {
	content: "";
	position: absolute;
	width: 23px;
	height: 4px;
	top: 4px;
	left: 0;
	background-color: #ffffff;
}

.header__menu::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 4px;
	bottom: 4px;
	left: 0;
	background-color: #ffffff;
}

@media (min-width: $tablet-width) {
	.header {
		position: relative;
		max-width: 800px;
		margin: 0 auto;
	}

	.header__nav-close {
		display: none;
	}

	.header__menu {
		display: none;
	}

	.header__list {
		display: flex;
	}
	
	.header__item {
		width: 153px;
	}

	.header__item:not(:last-child) {
		border-bottom: none;
	}
	
	.header__item:not(:first-child) {
		border-top: none;
	}

	.header__item:nth-child(3) {
		margin-left: auto;
	}

	.header__link {
		padding: 10px 22px;
		font-size: 14px;
		line-height: 26px;
		color: #000000;
		background-color: #ffffff;
	}

	.header__logo-container {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -51px;
	}
}

@media (min-width: $desktop-width) {
	.header {
		max-width: 1980px;
	}

	.header__item {
		width: 239px;
	}

}