.photos__welcome {
	min-height: 158px;
	background-image: url(../../img/sedona-mobile.png),
		url(../../img/index-back-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center, bottom;
}

.photos__list ul {
	@include list-reset;
}

.photos__list li {
	padding: 20px 20px;
	font-family: 'PT Sans', 'Arial';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: normal;
	text-transform: uppercase;
	color: #000000;
	border-bottom: 1px solid #d6d6d6;
}

.photos__list li:first-child {
	border-top: 1px solid #d6d6d6;
}

.photos__list img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

.photos__list h3 {
	width: 280px;
	margin: 0 auto;
	padding: 0;	
	font-size: inherit;
}

.photos__list h3 + p {
	width: 280px;
	margin: 0 auto;
	margin-bottom: 5px;
	padding: 0;
	font-size: inherit;
	font-weight: 400;
	text-transform: none;
	color: #333333;
}

.photos__list p + span {
	width: 280px;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
	padding-left: 35px;
	font-size: inherit;
	text-transform: none;
}

.photos__list p + span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 21px;
	background-image: url(../../img/like-icon.png);
	background-repeat: no-repeat;
}

.photos__container {
	padding: 25px 40px;
	text-align: center;
}

.photos__lead {
	display: block;
	margin: 0;	
	margin-bottom: 15px;
	padding: 0;
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
}

.photos__video p {
	margin: 0;
	padding: 0;
	line-height: 24px;
}

@media (min-width: $tablet-width) {
	.photos__list ul {
		display: flex;
		flex-wrap: wrap;
	}
	
	.photos__list li {
		position: relative;
		width: 50%;
		padding: 0;
		border: none;
		background-color: #f2f2f2;
	}

	.photos__list img {
		width: 100%;
	}

	.photos__list li:nth-child(2n + 3) {
		background-color: #eaeaea;
	}
	.photos__list li:first-child {
		width: 100%;
		border: none;
	}

	.photos__list li:first-child img{
		width: 100%;
		height: 400px;
	}

	.photos__list h3 {
		width: auto;
		margin-left: 10px;
	}

	.photos__list h3 + p {
		width: auto;
		margin-bottom: 15px;
		margin-left: 10px;
	}

	.photos__list p + span {
		width: auto;
	}

	.photos__list li span:last-child {
		position: absolute;
		right: 30px;
		bottom: 25px;
	}

	.photos__container {
		width: 415px;
		margin: 0 auto;
		padding: 50px 0;
	}
}

@media (min-width: $desktop-width) {
	.photos__list li {
		width: 33.333%;
	}

	.photos__list img {
		margin-bottom: 0;
	}

	.photos__list h3 {
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		width: 100%;
		margin-left: 0;
		padding-left: 15px;
		color: #ffffff;
		background-color: rgba(#000, 0.3);
	}

	.photos__list h3 + p {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		min-height: 40px;
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 15px;
		color: #ffffff;
		background-color: rgba(#000, 0.3);
	}



	.photos__list li span:last-child {
		position: absolute;
		right: 30px;
		bottom: 25px;
		color: #ffffff;
	}

	.photos__list p + span::before {
		background-image: url(../../img/like-white.png);
	}

}