.review__welcome {
	min-height: 158px;
	background-image: url(../../img/sedona-mobile.png),
		url(../../img/index-back-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center, bottom;
}

.review__form {
	position: relative;
}

.review__form form {
	padding: 20px 20px;
	padding-top: 0;
}

.review__form fieldset {
	margin: 0;	
	padding: 0;
	border: none;
	border-top: 1px solid #d6d6d6;
}

.review__form ul {
	@include list-reset;
}


.review__form h3 {
	margin: 0;
	margin-bottom: 20px;
	margin-top: 15px;
	padding: 0;
	font-size: 18px;
	line-height: 26px;
  font-weight: 700;
  letter-spacing: normal;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.review__form label {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-size: 18px;
  line-height: 26px;
  font-weight: 700;
	letter-spacing: normal;
	text-transform: none;
  color: #000000;
}

.review__form fieldset:nth-child(1) label,
.review__form fieldset:nth-child(2) label {	
	justify-content: space-between;
	font-size: 14px;
  line-height: 26px;
  font-weight: 400;
	letter-spacing: normal;
	text-transform: uppercase;
}

.review__form input[type="text"],
.review__form input[type="email"],
.review__form input[type="tel"],
.review__form textarea {
  font-family: 'PT Sans', 'Arial';
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
	letter-spacing: normal;
	text-transform: none;
  color: #000000;
}

.review__form input {
	flex-grow: 1;
	width: 100%;
	margin: 0;
	padding: 0 20px;
	margin-left: 10px;
	height: 50px;
	background-color: #f2f2f2;
	border: none;
	overflow: hidden;
}

.review__form fieldset:nth-child(2) label {
	display: block;
	position: relative;
	margin-bottom: 10px;
	padding-left: 10px;
}

.review__form fieldset:nth-child(2) label::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	background-color: #e6e6e6;
}

.review__form fieldset:nth-child(2) label:nth-of-type(1)::after {
	background-image: url(../../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.review__form fieldset:nth-child(2) label:nth-of-type(2)::after {
	background-image: url(../../img/icon-mail.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.review__form fieldset:nth-child(2) input {
	display: block;
	margin: 5px 0 15px -10px;
	padding-right: 25px;
}

.review__form fieldset:nth-child(2) input:last-child {
	margin-bottom: 20px;
}

.review__form input[type="checkbox"],
.review__form input[type="radio"] {
	@include visually-hidden
}

.review__form input[type="radio"] + span {
	display: inline-block;
	position: relative;
	width: 46px;
	height: 46px;
	margin-right: 27px;
	background-color: #f2f2f2;
	border-radius: 50%;
}

.review__form input[type="radio"]:checked + span::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	width: 16px;
	height: 16px;
	background-color: #333333;
	border-radius: 50%;
}

.review__form input[type="checkbox"] + span {
	display: inline-block;
	position: relative;
	width: 46px;
	height: 46px;
	margin-right: 27px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

.review__form input[type="checkbox"]:checked + span::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 12px;
	width: 24px;
	height: 16px;
	background-image: url(../../img/icon-tick.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.review__form textarea {
	width: 100%;
	height: 160px;
	margin: 0;
	margin-bottom: 35px;
	padding: 15px;
	background-color: #f2f2f2;
	border: none;
	resize: none;
}

.review__form button {
	width: 100%;
	margin-bottom: 10px;
	padding: 15px 15px;
	font-family: 'PT Sans', 'Arial';
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	letter-spacing: normal;
	text-transform: uppercase;
	color: #ffffff;
	background-color: $main-color;
	border: none;
}

.review__modal-cont .title{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 25px;
}

.review__modal-text {
	font-size: 14px;
	line-height: 24px;
	padding: 0 20px;
	margin-bottom: 20px;
	text-align: center;
}

.review__modal-success,
.review__modal-failed {
	display: none;
	position: absolute;
	width: 320px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	min-height: 325px;
	padding: 30px 20px 20px 20px;
	background-image: linear-gradient(to top, #f2f2f2 29% , #ffffff 29% );	
	box-shadow:  0 0 15px -5px rgba(#000000, 0.3);
}

.review__modal-failed {
	min-height: 280px;
	padding: 25px 25px 0 25px;
	background: #ffffff;
}

.review__modal-success .button,
.review__modal-failed .button {
	position: absolute;
	width: 280px;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.review__modal-failed .button {
	width: 180px;
	bottom: 30px;
}

.review__modal-failed .review__modal-text {
	margin-bottom: 0;
}

.review__modal-success--show {
	display: block;
}

.review__modal-failed--show {
	display: block;
}

.review__form button + p {
	display: none;
}

.review__form input::placeholder,
.review__form textarea::placeholder {
	color: #000000;
}

@media (min-width: $tablet-width) {
	.review__form form {
		display: flex;
		flex-wrap: wrap;
	}

	.review__form fieldset {
		border: none;
	}
	
	.review__form fieldset:nth-child(1),
	.review__form fieldset:nth-child(3) {
		width: 50%;
	}

	.review__form fieldset:nth-child(1) label:last-of-type {
		margin-bottom: 0;
	}

	.review__form fieldset:nth-child(3) li:last-child label {
		margin-bottom: 0;
	}

	.review__form fieldset:nth-child(1) h3,
	.review__form fieldset:nth-child(3) h3 {
		text-align: left;
		margin-bottom: 40px;
		margin-top: 0;
	}

	.review__form fieldset:nth-child(1) {
		padding-left: 50px;
		order: 1;
	}
	
	.review__form fieldset:nth-child(3)::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 1px;
		height: 100%;
		background-color: #dbdbdb;
	}

	.review__form fieldset:nth-child(2) {
		width: 100%;
		margin-top: 30px;
		order: 2;
	}

	.review__form fieldset:nth-child(3) {
		padding-right: 50px;
		position: relative;
	}

	.review__form fieldset:nth-child(4) {
		width: 100%;
		order: 3;
	}

	.review__form fieldset:nth-child(2) h3,
	.review__form fieldset:nth-child(4) h3,
	.review__form fieldset:nth-child(5) h3{
		display: flex;
		align-items: center;
	}

	.review__form fieldset:nth-child(2) h3::after,
	.review__form fieldset:nth-child(2) h3::before,
	.review__form fieldset:nth-child(4) h3::after,
	.review__form fieldset:nth-child(4) h3::before,
	.review__form fieldset:nth-child(5) h3::after,
	.review__form fieldset:nth-child(5) h3::before{
		content: "";
		flex-grow: 1;
		flex-shrink: 0;
		width: 160px;
		height: 1px;
		background-color: #dbdbdb;		
	}

	.review__form fieldset:nth-child(2) h3::before,
	.review__form fieldset:nth-child(4) h3::before,
	.review__form fieldset:nth-child(5) h3::before {
		margin-right: 30px
	}

	.review__form fieldset:nth-child(2) h3::after,
	.review__form fieldset:nth-child(4) h3::after,
	.review__form fieldset:nth-child(5) h3::after {
		margin-left: 30px;
	}

	.review__form fieldset:nth-child(4) ul {
		display: flex;
		flex-wrap: wrap;
		width: 500px;
		margin: 30px auto;
	}

	.review__form fieldset:nth-child(4) li{
		width: 250px;
	}

	.review__form fieldset:nth-child(5) {
		width: 100%;
		order: 5;
	}

	.review__form button {
		width: 325px;
		order: 6;
	}

	.review__form button + p {
		display: block;
		margin-left: auto;
		text-align: right;
		line-height: 26px;
		order: 7;
	}

	.review__modal-success {
		background-image: linear-gradient(to top, #f2f2f2 40%, #ffffff 40%)
	}

	.review__modal-failed {
		padding: 25px 80px 0 80px;
	}

	.review__modal-success,
	.review__modal-failed {
		width: 640px;
		min-height: 350px;
	}

	.review__modal-success .title,
	.review__modal-failed .title {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	.review__modal-failed .title {
		margin-bottom: 55px;
	}

	.review__modal-success .button,
	.review__modal-failed .button {
		bottom: 40px;
		width: 460px;
	}
}

@media (min-width: $desktop-width) {
	.review__form fieldset:nth-child(3) h3{
		padding-left: 70px;
	}
	
	.review__form fieldset:nth-child(4) h3::after,
	.review__form fieldset:nth-child(4) h3::before {
		width: 280px;
	}

	.review__form fieldset:nth-child(4) ul{
		width: 100%;
		justify-content: space-between;		
	}

	.review__form fieldset:nth-child(4) li{
		width: 200px;		
	}

	.review__form button {
		width: 480px;
	}

	.review__modal-text {
		font-size: 17px;
		line-height: 28px;
	}
}

