.welcome {
	position: relative;
	min-height: 158px;
	background-image: url(../../img/sedona-mobile.png),
		url(../../img/index-back-mobile.jpg);
	background-repeat: no-repeat;
	background-position: center, bottom;
	z-index: -1;
}

.welcome::before {
	content: "";
	position: absolute;
	bottom: -160px;
	right: 0;
	height: 0;
	border: 160px solid #ffffff;
	border-top: 20px solid transparent;
}